<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="body">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import body urdf file -->
    <xacro:include filename="$(find kist_robot)/urdf/kist_robot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="body.ros2_control.xacro" />

    <xacro:body_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
